body {
	background-image: url('../images/halloween.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	margin: 0 10%;
}

h1 {
	font-family: halloween;
	color: #ea8b1e;
	text-shadow: -2px 2px black;
}

p {
	color: #ea8b1e;
}

.gif {
	text-align: center;
	margin: 20px 0 10px 0;
}

.topicButton {
	font-family: halloween;
	background-color: black;
	color: #ea8b1e;
	border: black;
	margin: 0 4px 20px;
	border-radius: 10px;
	box-shadow: -2px 2px 5px #ea8b1e;
	outline: none;
}

#topic {
	background-color: black;
	border: black;
	color: #ea8b1e;
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: -2px 2px 5px #ea8b1e;
	outline: none;
	text-align: center
}

#add {
	font-family: halloween;
	background-color: black;
	border: black;
	color: #ea8b1e;
	border-radius: 10px;
	box-shadow: -2px 2px 5px #ea8b1e;
	outline: none;
}

#gifs {
	background-color: rgba(255, 255, 255, .2);
}

#input {
	padding: 0 4px 20px;
}

#title {
	margin-bottom: 15px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@font-face {
    font-family: halloween;
    src: url(../fonts/halloween.ttf);
}