body {
	background-image: url('../images/cloth.jpg');
	margin: 0 10%;
}

h1 {
	color: white;
}

p {
	color: black;
}

.gif {
	text-align: center;
	margin: 20px 0 10px 0;
}

.topicButton {
	margin: 0 4px 20px;
}

#gifs {
	background-color: rgba(255, 255, 255, .2);
}

#input {
	padding: 0 4px 20px;
}